.profile__description{
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  margin-top: 16px;
  max-height: 18px;
}
@media screen and (max-width: 590px){
  .profile__description{
    font-size: 14px;
    line-height: 17px;
    margin-top: 14px;
    text-align: center;
    margin-bottom: 36px;
  }
}
