.popup__close-icon{
  background-image: url(../../../images/Close\ Icon.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 32px;
  height: 32px;
  transition: opacity .3s linear;
  margin-left: calc(50vw + 223px);
  margin-top: calc((100vh - 370px) / 2);

}
.popup__close-icon:hover{
  opacity: 0.6;
}
@media screen and (max-width: 540px){
  .popup__close-icon{
    width: 20px;
    height: 20px;
    margin-left: calc(50vw + 121px);
  }
}
